.inventory-list {
  padding: 20px;
}

.inventory-list__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  color: black;
}

.inventory-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 115px;
  border: 50px solid #cccccc00;
}

.inventory-list__card-link {
  text-decoration: none;
  color: inherit;
}

.inventory-list__card {
  border: 1px solid #ccc;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.inventory-list__card:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.inventory-list__image {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.inventory-list__content {
  padding: 8px;
  text-align: center;
}

.inventory-list__name {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #333;
  text-decoration: none;
}

.inventory-list__price {
  margin: 4px 0;
  color: #555;
  text-decoration: none;
}

.inventory-list__price strong {
  color: #000;
}

/* Banner Styling */
.inventory-list__banner {
  width: 100%;
  margin-bottom: 20px;
}

.inventory-list__banner-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.inventory-list__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.inventory-list__filter-input,
.inventory-list__filter-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
  max-width: 18px;
}


.inventory-list__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.inventory-list__filter-input,
.inventory-list__filter-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 180px;
}

.inventory-list__sort {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inventory-list__toggle-button {
  background-color: #ffd700;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.inventory-list__toggle-button:hover {
  background-color: #ffcc00;
}
